<div class="flex justify-center py-[2rem]">
    <section class="bg-white w-[520px] rounded-[12px] py-[2rem] flex flex-col items-center mat-elevation-z8">
        <h3 class="text-[1.5rem] text-[#3f51b5] font-bold">Crea tu cuenta</h3>
        <!-- h-[500px] -->
        <div class="flex items-center space-x-5 py-5">
            <img class="w-[2.6rem]" src="../../../assets/icons/facebook.png" alt="facebook">
            <img class="w-[2.6rem]" src="../../../assets/icons/google.png" alt="google">
        </div>
        <mat-divider class="w-[75%]"></mat-divider>
        <p class="text-sm pt-4">o con tu correo electrónico</p>
        <div class="w-[75%] flex items-center space-x-5 pt-5">
            <mat-form-field appearance="outline" class="w-[30%] h-[4rem]">
                <mat-label>Documento</mat-label>
                <mat-select>
                    <mat-option value="one">DNI</mat-option>
                    <mat-option value="two">C. Extranjería</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-[70%] h-[4rem]">
                <mat-label>Número de Documento</mat-label>
                <input matInput placeholder="Ingresa el número de documento">
                <mat-icon matSuffix>assignment_ind</mat-icon>
            </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="w-[75%] h-[4rem]">
            <mat-label>Nombres y Apellidos</mat-label>
            <input matInput placeholder="Ingresa tus nombres y apellidos">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <!-- <div class="flex items-center space-x-5 w-[80%]">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Apellido Paterno</mat-label>
                <input matInput placeholder="Apellido Paterno">
                <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>Apellido Materno</mat-label>
                <input matInput placeholder="Apellido Materno">
                <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>

        </div> -->
        <div class="w-[75%] flex space-x-5">
            <mat-form-field appearance="outline" class="w-[70%]">
                <mat-label>Número de Celular</mat-label>
                <input matInput placeholder="Ingresa el número de celular">
                <!-- <span matPrefix>+51 &nbsp;</span> -->
                <mat-icon matSuffix>phone_iphone</mat-icon>
            </mat-form-field>
            <div class="mt-1">
                <button mat-raised-button class="h-[3rem] w-[6.5rem]">
                    Validar
                </button>
            </div>
        </div>
        <mat-form-field appearance="outline" class="w-[75%] h-[4rem]">
            <mat-label>Usuario</mat-label>
            <input matInput placeholder="Crea tu usuario">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[75%] h-[4rem]">
            <mat-label>Contraseña</mat-label>
            <input matInput placeholder="Crea tu contraseña">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="w-[75%]">
            <mat-label>Repetir Contraseña</mat-label>
            <input matInput placeholder="Repite tu contraseña">
            <mat-icon matSuffix>lock</mat-icon>
        </mat-form-field>
        <button mat-raised-button color="primary" class="w-[60%] h-[2.5rem]">
            Registrar Cuenta
        </button>

        <p class="pt-5">¿Ya tienes una cuenta registrada?
            <a routerLink="/" class="cursor-pointer font-medium hover:text-blue-700">Inicia sesión</a>
        </p>
    </section>

</div>