<nav class="flex flex-row items-center p-4 bg-slate-100">
    <img class="w-72 h-full" src="" alt="logo">
    <section class="w-full">
        <div class="flex justify-between">
            <div class="w-40 h-16 bg-white">publicidad</div>

            <ul class="flex text-black justify-between w-48">
                <li>Registro</li>
                <li>Login</li>
                <li>Ayuda</li>
            </ul>
        </div>

        <div class="flex flex-row items-center p-3 space-x-10">
            <mat-icon>menu</mat-icon>
            <mat-form-field appearance="outline" class="h-12 w-96">
                <!-- <mat-label>Outline form field</mat-label> -->
                <input matInput placeholder="Placeholder">
                <mat-icon matSuffix>search</mat-icon>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
            <button mat-raised-button class="w-32 h-12 mt-1">Buscar</button>
        </div>
    </section>
</nav>